
/* Variabel Warna */
:root {
  --primary-white: #ffffff;
  --light-gray: #f8f8f8; /* Sedikit lebih terang untuk kontras */
  --accent-pink: #FF69B4; /* Pink yang cerah dan menarik */
  --darker-pink: #FF4D99; /* Pink yang lebih gelap untuk hover */
  --text-dark: #333;
  --text-light: #666;
}

/* Base Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-white);
  color: var(--text-dark);
}
